.ser-con{
    
    margin-left: 0cap;
}
.body-con{
    margin-left: 1px;
}

.card-cont{
   
    
    display: flex;
   flex-wrap: wrap;
   padding:10px;
   margin: 50px;
}
.filter-btn{

    margin-top: 2px;
    margin-left: 2px;
    cursor: pointer;
    
}
.filter{
    display: flex;
}