.header{
    display: flex;
    border: 2px solid rgb(102, 96, 96);
    justify-content: space-between;
    margin-top: 15px;
}

.logo{
  
    width: 120px;
    padding-top:9px;
}

.nav-bar > ul{
   display: flex;
   list-style-type: none;

}
.nav-bar>ul>li{
    padding: 10px;
    margin: 10px;
    font-size: 25px;
}


